body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased; //Aqui est los escalas de grises 
  -moz-osx-font-smoothing: grayscale;
  
  //aqui se nos muestra que en el cuerpo de la pagina tiene un font family en el estilo del texto 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  ///family del texto
}
